   import java.util.Scanner;
public class buyukKucuk {
    public static void main(String[] args){

        Scanner input= new Scanner(System.in);
        double a,b;

        System.out.print("1.Sayıyı Giriniz: ");
        a= input.nextDouble();
        System.out.print("2.Sayıyı Giriniz: ");
        b= input.nextDouble();

       if(a<b) {
           System.out.println("a<b'dir.");
       } else {

            System.out.println("a>b'dir.");
        }

    }
}
